In [5]:
1. Biggest of 3 numbers.

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
 
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is",largest)

Enter first number: 4
Enter second number: 2
Enter third number: 1
The largest number is 4.0

In [ ]:
2. count the occurence of each word in aline of text

In [8]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [ ]:
3. Accept a file name from user and print extension of that.

In [ ]:

filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: abc.python
The extension of the file is : 'python'

In [ ]:
4. Accept an integer n and compute n+nn+nnn.

In [5]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 10
102030

In [ ]:
5. Sort dictionary in ascending and descending order.

In [7]:
import operator

d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

s= sorted(d.items(), key=operator.itemgetter(1))

print('ascending order : ',s)

s1= dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))

print('descending order : ',s1)

ascending order :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
descending order :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
6. Create a list of colors from comma-separated color names entered by user. Display
 first and last colors

In [8]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [ ]:
7. Find gcd of 2 numbers.

In [9]:
8. import math 
   
print("The gcd of 60 and 48 is : ", end="") 
print(math.gcd(60, 48))

The gcd of 60 and 48 is : 12

In [ ]:
Merge two dictionaries.

In [11]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
     

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
 

print(Merge(dict1, dict2))
 

print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [ ]:
9. From a list of integers, create a list removing even numbers.

In [12]:
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]

In [ ]:
10. Create a string from given string where first and last characters exchanged

In [13]:
def change_sring(str1):
      return str1[-1:] + str1[1:-1] + str1[:1]
	  
print(change_sring('abcd'))
print(change_sring('12345'))

dbca
52341

In [ ]:
11. Accept the radius from user and find area of circle.

In [14]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 3
The area of the circle with radius 3.0 is: 28.274333882308138

In [ ]:
12. Print out all colors from color-list1 not contained in color-list2.

In [15]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

print(color_list_1.difference(color_list_2))

{'Black', 'White'}

In [ ]:
13. Create a single string separated with space from two strings by swapping the
 character at position 1.

In [16]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('abc', 'xyz'))

xyc abz