In [ ]:
PYTHON C1


#Program to demonstrate basic data type in Python?

a=1


print("the value of",a,"is of the type",type(a))
b="hello"


print("the value of",b,"is of the type",type(b))
c=3.14


print("the value of",c,"is of the type",type(c))
d=2j


print("the value of",d,"is of the type",type(d))
e={"ads","web","python"}


print("the value of",e,"is of the type",type(e))
f=("ads","web","python")


print("the value of",f,"is of the type",type(f))
g=["ads","web","python"]


print("the value of",g,"is of the type",type(g))
h=range(5)


print("the value of",h,"is of the type",type(h))
i=True


print("the value of",i,"is of the type",type(i))

the value of 1 is of the type <class 'int'>
the value of hello is of the type <class 'str'>
the value of 3.14 is of the type <class 'float'>
the value of 2j is of the type <class 'complex'>
the value of {'ads', 'python', 'web'} is of the type <class 'set'>
the value of ('ads', 'web', 'python') is of the type <class 'tuple'>
the value of ['ads', 'web', 'python'] is of the type <class 'list'>
the value of range(0, 5) is of the type <class 'range'>
the value of True is of the type <class 'bool'>

In [ ]:
2.#“Hello , World !” program.

In [ ]:
print("Hello, World !")

Hello, World !

In [ ]:
3.#Program to print an integer(entered by the user).

In [ ]:
x=int(input("enter a integer value :"))
print(x)

enter a integer value :5
5

In [ ]:
4.#Program to add two integers.

In [ ]:
x=int(input("enter the value of first integer :"))
y=int(input("enter the value of second integer :"))
z=x+y
print("sum :",z)

enter the value of first integer :9
enter the value of second integer :5
sum : 14

In [ ]:
5.#Program to multiply two floating point numbers.

In [ ]:
x=float(input("enter the first float value :"))
y=float(input("enter the second float value :"))
z=x*y
print("product :",z)

enter the first float value :3.0
enter the second float value :4.0
product : 12.0

In [ ]:
6.#Program to compute quotient and remainder.

In [ ]:
a=int(input("enter the first value :"))
b=int(input("enter the second value :"))
q=a//b
print("quotient :",q)
r=a%b
print("remainder :",r)

enter the first value :10
enter the second value :2
quotient : 5
remainder : 0

In [ ]:
7.#Program to swap two numbers.

In [ ]:
x=float(input("enter the first number :"))
y=float(input("enter the second number :"))
print("value of the first number before swapping :",x)
print("value of the second number before swapping :",y)
z=x
x=y
y=z
print("value of the first number after swapping :",x)
print("value of the second number after swapping :",y)

enter the first number :1.0
enter the second number :9.0
value of the first number before swapping : 1.0
value of the second number before swapping : 9.0
value of the first number after swapping : 9.0
value of the second number after swapping : 1.0

In [ ]:
8.#Program to check whether a number is even or odd.

In [ ]:
x=int(input("enter any number :"))
y = x%2
if y==0:
  print(x,"is an even number.")
else:
    print(x,"is an odd number.")

enter any number :4
4 is an even number.

In [ ]:
9.#Program to check whether a character is vowel or consonant.

In [ ]:
ch=input("enter any character :")
if (ch=='A'or ch=='E' or ch=='I' or ch=='O' or ch=='U'or ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u'):
  print(ch,"is a vowel.")
else:
  print(ch,"is a consonant.")

enter any character :b
b is a consonant.

In [ ]:
10.#Program to check leap year.

In [ ]:
a=float(input("enter the first number :"))
b=float(input("enter the second number :"))
c=float(input("enter the third number :"))
if (a>b) and (a>c):
  print(a,"is largest number.")
elif (b>a) and (b>c):
  print(b,"is the largest number.")
else:
  print(c,"is the largest number.")

enter the first number :7.0
enter the second number :4.0
enter the third number :10.0
10.0 is the largest number.

In [ ]:
yr=int(input("enter a year :"))
if ((yr%400==0) or ((yr%4==0) and (yr%100!=0))):
 print(yr,"is a leap year.")
else:
  print(yr,"is not a leap year.")

enter a year :2020
2020 is a leap year.

In [ ]:
12.#Program to check whether a number is positive or negative

In [ ]:
x=int(input("enter any number:"))
if x>0:
  print(x,"is a positive number.")
else:
  print(x,"is a negative number.")

enter any number:-5
-5 is a negative number.

In [ ]:
13.#Program to calculate the sum of natural numbers.

In [ ]:
n=int(input("enter a any number :"))
if n<0:
  print("print a positive number.")
else:
  sum=0
  while (n>0):
    sum+=n
    n-=1
print("sum of natural numbers is",sum)

enter a any number :5
sum of natural numbers is 15

In [ ]:
14.#Program to find the factorial of a number.

In [ ]:
n=int(input("enter any number :"))
fact=1
for i in range(1,n+1):
  fact=fact*i
print("factorial of",n,"is",fact)

enter any number :4
factorial of 4 is 24

In [ ]:
15.#Program to generate multiplication tables.

In [ ]:
x=int(input("show the multiplication table of ?"))
for i in range(1,11):
  print(x,'x',i,'=',x*i)

show the multiplication table of ?2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
16.#Program to display fibonacci sequence.

In [ ]:
n=int(input("enter any number :"))
x,y =0,1
count=0
if n<=0:
  print("enter a positive number.")
elif n==1:
  print("fibonacci sequence upto",n,":")
  print(x)
else:
  print("fibonacci sequence :")
  while count<n:
    print(x)
    z=x+y
    x=y
    y=z
    count+=1

enter any number :2
fibonacci sequence :
0
1

In [ ]:
17.#Program to find the LCM of two numbers.

In [ ]:
def find_lcm(x, y):
   if x > y:
       greater = x
   else:
       greater = y
   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1
   return lcm
a=int(input("enter the value of first number :"))
b=int(input("enter the value of second number :"))
print("the L.C.M. is", find_lcm(a,b))

enter the value of first number :54
enter the value of second number :24
the L.C.M. is 216

In [ ]:
18.#Program to count number of digits in an integer.

In [ ]:
n=int(input("enter any number :"))
count=0
while (n>0):
    count=count+1
    n=n//10
print("the number of digits in the given number is/are :",count)

enter any number :100000
the number of digits in the given number is/are : 6

In [ ]:
19.#Program to reverse a number.

In [ ]:
x=int(input("enter any number to be reversed :"))
rev=0
while x>0:
  rev=(rev*10)+(x%10)
  x=x//10
print("reverse is",rev)

enter any number to be reversed :23
reverse is 32

In [ ]:
20.#Program to calculate the power of a number.

In [ ]:
n=int(input("enter any positive number :"))
e=int(input("enter the value of exponent :"))
p=1
for i in range(1,e+1):
  p=p*n
print("the power of",n,"^",e,"is",p)

enter any positive number :2
enter the value of exponent :3
the power of 2 ^ 3 is 8

In [ ]:
21.#Program to check whether a number is palindrome.

In [ ]:
n=int(input("enter any number :"))
rev=0
temp=n
while (temp > 0):
    r=temp%10
    rev=(rev*10)+r
    temp=temp//10
print("reverse of this given number is",rev)
if (n==rev):
    print(n,"is a palindrome number")
else:
    print(n,"is not a palindrome number")

enter any number :4567
reverse of this given number is 7654
4567 is not a palindrome number