In [ ]:
11. Biggest of 3 numbers.

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
 
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is",largest)

Enter first number: 4
Enter second number: 2
Enter third number: 1
The largest number is 4.0

In [ ]:
4. count the occurence of each word in aline of text

In [ ]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [ ]:
12. Accept a file name from user and print extension of that.

In [ ]:

filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: abc.python
The extension of the file is : 'python'

In [ ]:
14. Accept an integer n and compute n+nn+nnn.

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 10
102030

In [ ]:
17. Sort dictionary in ascending and descending order.

In [ ]:
import operator

d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

s= sorted(d.items(), key=operator.itemgetter(1))

print('ascending order : ',s)

s1= dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))

print('descending order : ',s1)

ascending order :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
descending order :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
13. Create a list of colors from comma-separated color names entered by user. Display
 first and last colors

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [ ]:
19. Find gcd of 2 numbers.

In [ ]:
import math 
   
print("The gcd of 60 and 48 is : ", end="") 
print(math.gcd(60, 48))

The gcd of 60 and 48 is : 12

In [ ]:
18.merge two dictionaries

In [ ]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
     

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
 

print(Merge(dict1, dict2))
 

print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [ ]:
20. From a list of integers, create a list removing even numbers.

In [ ]:
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]

In [ ]:
9. Create a string from given string where first and last characters exchanged

In [ ]:
def change_sring(str1):
      return str1[-1:] + str1[1:-1] + str1[:1]
	  
print(change_sring('abcd'))
print(change_sring('12345'))

dbca
52341

In [ ]:
10. Accept the radius from user and find area of circle.

In [ ]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 3
The area of the circle with radius 3.0 is: 28.274333882308138

In [ ]:
15. Print out all colors from color-list1 not contained in color-list2.

In [ ]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

print(color_list_1.difference(color_list_2))

{'Black', 'White'}

In [ ]:
16. Create a single string separated with space from two strings by swapping the
 character at position 1.

In [ ]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('abc', 'xyz'))

xyc abz

In [ ]:
2.Display future leap years from current year to a final year entered by user.

In [ ]:
y = int(input("Enter the final year : "))
print("Future leap years from 2021 : ")
for x in range (2021 , y+1):
 if((x%4==0) and (x%100!=0)) or (x%400==0):
   print(x)

Enter the final year : 2030
Future leap years from 2021 :
2024
2028

In [ ]:
1.Print your address

In [ ]:
name = input("Enter name : ")
age=int(input("Enter age : "))
address=input("Enter address : ")
print("...Personal Details...")
print("Name : " , name , "\nAge : " , age , "\naddress : " , address )

Enter name : chritsy
Enter age : 21
Enter address : hellohello
...Personal Details...
Name :  chritsy
Age :  21
address :  hellohello

In [ ]:
8.Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character.[eg: onion -> oni$n]

In [ ]:
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]
  return str1
print(change_char('onion'))

oni$n

In [ ]:
7a.check whether lists are of same length

In [1]:
list1 = [1, 2, 4, 3, 8] 
list2 = [1, 2, 4, 3, 5] 
print ("The first list is : " + str(list1)) 
print ("The second list is : " + str(list2)) 
l1 = len(list1)
l2 = len(list2)
print("Length of list1 : " , l1 , "and Length of list2 : " , l2)
if l1 == l2: 
    print ("The lists are of same length") 
else : 
    print ("The lists are of different length")

The first list is : [1, 2, 4, 3, 8]
The second list is : [1, 2, 4, 3, 5]
Length of list1 :  5 and Length of list2 :  5
The lists are of same length

In [ ]:
7b.check whether lists sums to same value

In [2]:
list1 = [1, 2, 4, 3, 8] 
list2 = [1, 2, 4, 3, 5] 
print ("The first list is : " + str(list1)) 
print ("The second list is : " + str(list2)) 
sum1 = 0
sum2 = 0
for x in range(0, len(list1)):
    sum1 = sum1 + list1[x]
print("Sum of all elements in given list1 : ", sum1)
for x in range(0, len(list2)):
    sum2 = sum2 + list2[x]
print("Sum of all elements in given list2 : ", sum2)    
if( sum1 == sum2):
  print("Lists sums to same value")
else:
  print("Lists sums to different value")

The first list is : [1, 2, 4, 3, 8]
The second list is : [1, 2, 4, 3, 5]
Sum of all elements in given list1 :  18
Sum of all elements in given list2 :  15
Lists sums to different value

In [ ]:
7c.check whether any value occur in both
list1 = [1, 2, 4, 3, 8] 
list2 = [1, 2, 4, 3, 5] 
print ("The first list is : " + str(list1)) 
print ("The second list is : " + str(list2)) 
print("The values occur in both lists : ")
for x in list1:
  if(x in list1 and x in list2):
    print(x)

The first list is : [1, 2, 4, 3, 8]
The second list is : [1, 2, 4, 3, 5]
The values occur in both lists :
1
2
4
3

In [ ]:
3a..Generate positive list of numbers from a given list of intgers

In [ ]:
mylist=[23 , 58 , -12 , 90 , -45 , 81 , 49 , -36] 
print("First list : ", mylist)
newlist=[x for x in mylist if x > 0]
print("New list : " ,newlist)

First list :  [23, 58, -12, 90, -45, 81, 49, -36]
New list :  [23, 58, 90, 81, 49]

In [ ]:
3b..Square of N numbers

In [ ]:
mylist=[2 ,5 , 3 , 8]
print("First list : " ,mylist)
newlist=[number ** 2 for number in mylist]
print("New list : " ,newlist)

First list :  [2, 5, 3, 8]
New list :  [4, 25, 9, 64]

In [ ]:
3c.Form a list of vowels selected from a given word

In [ ]:
word=input("Enter a word : ")
vowels=["a" , "e" , "i" , "o" , "u"]
list=[]
for x in word:
  if(x in vowels and x not in list):
    list.append(x)
print("Vowels in the given word : " , list)

Enter a word : hello
Vowels in the given word :  ['e', 'o']

In [ ]:
3d.Form a list of vowels selected from a given word (d)List ordinal value of each element of a word (Hint: use ord() to get ordinal values)

In [ ]:
w=input("enter any word : ")
for l in range(len(w)) :
   print("ASCII value is",w[1],"is",ord(w[l]))

enter any word : hello
ASCII value is e is 104
ASCII value is e is 101
ASCII value is e is 108
ASCII value is e is 108
ASCII value is e is 111

In [ ]:
5.Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead

In [4]:
x=[]
n=int(input("enter any integers :"))
for i in range(1,n+1):
  a=int(input())
  if (a>100):
     x.append('over')
  else:
      x.append(a)
  print("modified list :" ,x)

enter any integers :4
50
modified list : [50]
100
modified list : [50, 100]
200
modified list : [50, 100, 'over']
300
modified list : [50, 100, 'over', 'over']

In [ ]:
6.Store a list of first names. Count the occurrences of ‘a’ within the list

In [5]:
name =input("Enter the first names : ")
list = []
count = 0
for x in name:
 list.append(x)
 if(x in name and x == 'a'):
   count = count + 1
print(count)

Enter the first names : secondary storage
2